
  <ul>
    <li>
      <a href="http://cyber-dojo.org/kata/edit/48F00964A7?avatar=lizard" target="_blank">
        go here
      </a>
    </li>
    <li>replace countdown.cpp with the above code</li>
    <li>hit the [test] button (top left)</li>
    <li>click most recent traffic-light (top right)</li>
    <li>click setup a new practice session</li>
  </ul>
