
<script type="text/javascript"><!--

$(function() {

  cd.cpp = {
    keywords: {},
    not_keywords: {}
  };

  // - - - - - - - - - - - - - - - - - - - - - -

  $('#reset').click(function() { reset(); });

  function reset() {
    resetTokens();
    cd.code.reset();
  }

  function resetTokens() {
    var lang = cd.cpp;
    lang.keywords = {
      'catch':'keyword',
      'class':'keyword',
      'continue':'keyword',
      'default':'keyword',
      'dynamic_cast':'keyword',
      'else':'keyword',
      'friend':'keyword',
      'goto':'keyword',
      'if':'keyword',
      'operator':'keyword',
      'reinterpret_cast':'keyword',
      'return':'keyword',
      'static_cast':'keyword',
      'switch':'keyword',
      'template':'keyword',
      'typename':'keyword',
      'virtual':'keyword',
      'while':'keyword'
    };
    lang.not_keywords = {
      '++':'operator',
      '--':'operator',
      '+=':'operator',
      '==':'operator',
      '<=':'operator',
      '!=':'operator',
      '&&':'operator',
      '!':'operator',
      '~':'operator',
      '.':'operator',
      '->':'operator',
      '[':'punctuator',
      ',':'punctuator',
      ':':'punctuator',
      '...':'punctuator',
      '42':'literal',
      'fubar':'identifier'
    };
  }

  reset();

});

//--></script>

<button type="button" id="reset">reset</button>

