
<script type="text/javascript"><!--

$(function() {

  cd.cpp = {
    keywords: [],
    not_keywords: []
  };

  // - - - - - - - - - - - - - - - - - - - - - -

  $('#reset').click(function() { reset(); });

  function reset() {
    resetTokens();
    cd.code.reset();
  }

  function resetTokens() {
    var lang = cd.cpp;
    lang.keywords = [
      'catch',
      'class',
      'continue',
      'default',
      'dynamic_cast',
      'else',
      'friend',
      'goto',
      'if',
      'operator',
      'reinterpret_cast',
      'return',
      'static_cast',
      'switch',
      'template',
      'typename',
      'virtual',
      'while'
    ];
    lang.not_keywords = [
      '++', '--', '+=', '==', '<=', '!=', '&&', '!',
      '~', '.', '->',,
      '[', ',', ':', '...'
    ];
  }

  reset();

});

//--></script>

<button type="button" id="reset">reset</button>

