
<script type="text/javascript"><!--

$(function() {

  cd.cpp = {
    keywords: [],
    identifiers: [],
    operators: [],
    punctuators: [],
    literals: []
  };

  // - - - - - - - - - - - - - - - - - - - - - -

  $('#reset').click(function() { reset(); });

  var reset = function() {
    resetTokens();
    cd.resetCode();
  };

  var resetTokens = function() {
    var lang = cd.cpp;
    lang.keywords = [
      'catch',
      'class',
      'continue',
      'default',
      'dynamic_cast',
      'else',
      'friend',
      'goto',
      'if',
      'operator',
      'reinterpret_cast',
      'return',
      'static_cast',
      'switch',
      'template',
      'typename',
      'virtual',
      'while'
    ];
    lang.identifiers = [
      'wibble', 'snafu', 'foobar', 'x', 'd_33df8'
    ];
    lang.operators = [
      '++', '--', '+=', '==', '<=', '!=', '&&', '!',
      '~', '?', '.', '->', ','
      // '[]', '()' ???
    ];
    lang.punctuators = [
      '{', '(', '[', ',', ';', ':', '...'
    ];
    lang.literals = [
      '42', '007', '"salmo"', '0x4b', '30ul', '3.149', "'\\t'", "'\\n'"
    ];
  };

  reset();

});

//--></script>

<button type="button" id="reset">reset</button>

