
<script type="text/javascript"><!--

$(function() {

  $('#tokens button').each(function() {
    var type = $(this).attr('id');
    $('#'+type).click(function() {
      select(type);
    });
  });

  function select(name) {
    var token = sample(cd.cpp[name+'s']);
    var type = cd.cpp[name+'s'][token];
    cd.code.add(token, type);
  }

  function sample(hash) {
    var array = Object.keys(hash);
    shuffle(array);
    return array.shift();
  }

  function shuffle(array) {
    // Durstenfeld algorithm.
    for (var i = array.length - 1; i > 0; i--) {
      var j = Math.floor(Math.random() * (i + 1));
      var temp = array[i];
      array[i] = array[j];
      array[j] = temp;
    }
  }

});

//--></script>

  <table id="tokens">
    <tr>
      <td>
        <button type="button" id="keyword">KEYWORD</button>
      </td>
    </tr>

    <tr>
      <td>
        <button type="button" id="not_keyword">!KEYWORD</button>
      </td>
    </tr>

  </table>

