
<script type="text/javascript"><!--

$(function() {

  $('#keyword'   ).click(function() { select('keyword');    });
  $('#identifier').click(function() { select('identifier'); });
  $('#operator'  ).click(function() { select('operator');   });
  $('#punctuator').click(function() { select('punctuator'); });
  $('#literal'   ).click(function() { select('literal');    });

  var select = function(type) {
    var token = sample(cd.cpp[type+'s']);
    cd.chose(token, type);
  };

  var sample = function(array) {
    shuffle(array);
    return array.shift();
  };

  var shuffle = function(array) {
    // Durstenfeld algorithm.
    for (var i = array.length - 1; i > 0; i--) {
      var j = Math.floor(Math.random() * (i + 1));
      var temp = array[i];
      array[i] = array[j];
      array[j] = temp;
    }
  };

});

//--></script>

  <table>
    <tr>
      <td>
        <button type="button" id="keyword">KEYWORD</button>
      </td>
    </tr>

    <tr>
      <td>
        <button type="button" id="identifier">IDENTIFIER</button>
      </td>
    </tr>

    <tr>
      <td>
        <button type="button" id="operator">OPERATOR</button>
      </td>
    </tr>

    <tr>
      <td>
        <button type="button" id="punctuator">PUNCTUATOR</button>
      </td>
    </tr>

    <tr>
      <td>
        <button type="button" id="literal">LITERAL</button>
      </td>
    </tr>
  </table>

