
<div id="home-page">
  <div class='title'>C++ GAME</div>
  <table>
    <tr>
      <td valign="top">
        <%= render partial: 'select_buttons' %>
      </td>
      <td>
        <%= render partial: 'code' %>
        <%= render partial: 'reset_button' %>
        <%= render partial: 'instructions' %>
      </td>
    </tr>
  </table>
</div>
