
<script type="text/javascript"><!--

$(function() {

});

//--></script>

<div id="home-page">
  <div class='title'>ACCU BRISTOL DOES COUNTDOWN</div>
  <div class='language'>C++</div>

  <%= render partial: 'select_buttons' %>
  <%= render partial: 'reset_button' %>

  <a href="http://cyber-dojo.org/kata/edit/48F00964A7?avatar=lizard" target="_blank">
    cyber-dojo session to fork from
  </a>

</div>
