
<script type="text/javascript"><!--

$(function() {

  var keywords    = [];
  var identifiers = [];
  var operators   = [];
  var punctuators = [];
  var literals    = [];

  //- - - - - - - - - - - - - - - - - - - - - -

  var resetKeywords = function() {
    keywords = [
      'catch',
      'class',
      'continue',
      'default',
      'dynamic_cast',
      'else',
      'friend',
      'goto',
      'if',
      'operator',
      'reinterpret_cast',
      'return',
      'static_cast',
      'switch',
      'template',
      'typename',
      'virtual',
      'while'
    ];
  };

  var resetIdentifiers = function() {
    identifiers = [
      'wibble', 'snafu', 'foobar', 'x', 'd_33df8'
    ];
  };

  var resetOperators = function() {
    operators = [
      '++', '--', '+=', '==', '<=', '!=', '&&', '!',
      '~', '?', '.', '->', '()', ','
      // '[]' ???
    ];
  };

  var resetPunctuators = function() {
    punctuators = [
      '{', '(', '[', ',', ';', ':', '...'
    ];
  };

  var resetLiterals = function() {
    literals = [
      '42', '007', '"salmo"', '0x4b', '30ul', '3.149', "'\\t'", "'\\n'"
    ];
  };

  //- - - - - - - - - - - - - - - - - - - - - -

  var select = function(tokens) {
    cd.dialog(sample(tokens)).dialog('open');
  };

  var sample = function(array) {
    shuffle(array);
    return array[0];
  };

  var shuffle = function(array) {
    // Using Durstenfeld algorithm.
    for (var i = array.length - 1; i > 0; i--) {
      var j = Math.floor(Math.random() * (i + 1));
      var temp = array[i];
      array[i] = array[j];
      array[j] = temp;
    }
  };

  //- - - - - - - - - - - - - - - - - - - - - -

  $('#keyword'   ).click(function() { select(keywords);    });
  $('#identifier').click(function() { select(identifiers); });
  $('#operator'  ).click(function() { select(operators);   });
  $('#punctuator').click(function() { select(punctuators); });
  $('#literal'   ).click(function() { select(literals);    });

  //- - - - - - - - - - - - - - - - - - - - - -

  var reset = function() {
    resetKeywords();
    resetIdentifiers();
    resetOperators();
    resetPunctuators();
    resetLiterals();
  };

  reset();

});

//--></script>

<div id="home-page">
  <div class='title'>ACCU BRISTOL DOES COUNTDOWN</div>
  <div class='language'>C++</div>
  <table>
    <tr>
      <td>
        <button type="button" id="keyword">KEYWORD</button>
      </td>
    </tr>

    <tr>
      <td>
        <button type="button" id="identifier">IDENTIFIER</button>
      </td>
    </tr>

    <tr>
      <td>
        <button type="button" id="operator">OPERATOR</button>
      </td>
    </tr>

    <tr>
      <td>
        <button type="button" id="punctuator">PUNCTUATOR</button>
      </td>
    </tr>

    <tr>
      <td>
        <button type="button" id="literal">LITERAL</button>
      </td>
    </tr>

  </table>

  <a href="http://cyber-dojo.org/kata/edit/48F00964A7?avatar=lizard" target="_blank">
    paste into here
  </a>

</div>
