
<script type="text/javascript"><!--

$(function() {

  $('#keyword').click(function() {
    var tokens = [
      'catch',
      'class',
      'continue',
      'default',
      'dynamic_cast',
      'else',
      'friend',
      'goto',
      'if',
      'operator',
      'reinterpret_cast',
      'return',
      'static_cast',
      'switch',
      'template',
      'typename',
      'virtual',
      'while'
    ];
    var rand = Math.floor(Math.random() * tokens.length);
    var token = tokens[rand];
    cd.dialog(token, 'close').dialog('open');
  });

  $('#identifier').click(function() {
    var tokens = [
      'wibble', 'snafu', 'fubar', 'x', 'd_33df8'
    ];
    var rand = Math.floor(Math.random() * tokens.length);
    var token = tokens[rand];
    cd.dialog(token, 'close').dialog('open');
  });

  $('#operator').click(function() {
    var tokens = [
      '++', '--', '+=', '==', '<=', '!=', '&&', '!', '~', '?:', '.', '->',
      '[] indexer',
      '() function call',
      '() cast',
      ', comma'
    ];
    var rand = Math.floor(Math.random() * tokens.length);
    var token = tokens[rand];
    cd.dialog(token, 'close').dialog('open');
  });

  $('#punctuator').click(function() {
    var tokens = [
      '{}', '()', ',', ';', ':', '...'
    ];
    var rand = Math.floor(Math.random() * tokens.length);
    var token = tokens[rand];
    cd.dialog(token, 'close').dialog('open');
  });

  $('#literal').click(function() {
    var tokens = [
      '42', '007', '"salmo"', '0x4b', '30ul', '3.149', "'\\t'", "'\\n'"
    ];
    var rand = Math.floor(Math.random() * tokens.length);
    var token = tokens[rand];
    cd.dialog(token, 'close').dialog('open');
  });

});

//--></script>

<div id="home-page">
  <div class='title'>ACCU BRISTOL DOES COUNTDOWN</div>
  <div class='language'>C++</div>
  <table>
    <tr>
      <td>
        <button type="button" id="keyword">KEYWORD</button>
      </td>
    </tr>

    <tr>
      <td>
        <button type="button" id="identifier">IDENTIFIER</button>
      </td>
    </tr>

    <tr>
      <td>
        <button type="button" id="operator">OPERATOR</button>
      </td>
    </tr>

    <tr>
      <td>
        <button type="button" id="punctuator">PUNCTUATOR</button>
      </td>
    </tr>

    <tr>
      <td>
        <button type="button" id="literal">LITERAL</button>
      </td>
    </tr>

  </table>

</div>
