
<script type="text/javascript"><!--

$(function() {

  $('#keyword').click(function() {


    cd.dialog('dynamic_cast', 'close').dialog('open');
  });

});

//--></script>

<div id="home-page">
  ACCU BRISTOL DOES COUNTDOWN
  <br/>
  C++
  <table>
    <tr>
      <td>
        <button type="button" id="keyword">KEYWORD</button>
      </td>
    </tr>

    <tr>
      <td>
        <button type="button" id="identifier">IDENTIFIER</button>
      </td>
    </tr>

    <tr>
      <td>
        <button type="button" id="operator">OPERATOR</button>
      </td>
    </tr>

    <tr>
      <td>
        <button type="button" id="punctuator">PUNCTUATOR</button>
      </td>
    </tr>

    <tr>
      <td>
        <button type="button" id="literal">LITERAL</button>
      </td>
    </tr>

  </table>

</div>
