
<script type="text/javascript"><!--

$(function() {

  var shuffle = function(array) {
    // Using Durstenfeld algorithm.
    for (var i = array.length - 1; i > 0; i--) {
      var j = Math.floor(Math.random() * (i + 1));
      var temp = array[i];
      array[i] = array[j];
      array[j] = temp;
    }
  };

  var sample = function(array) {
    shuffle(array);
    return array[0];
  };

  $('#keyword').click(function() {
    var keywords = [
      'catch',
      'class',
      'continue',
      'default',
      'dynamic_cast',
      'else',
      'friend',
      'goto',
      'if',
      'operator',
      'reinterpret_cast',
      'return',
      'static_cast',
      'switch',
      'template',
      'typename',
      'virtual',
      'while'
    ];
    cd.dialog(sample(keywords), 'close').dialog('open');
  });

  $('#identifier').click(function() {
    var identifiers = [
      'wibble', 'snafu', 'foobar', 'x', 'd_33df8'
    ];
    cd.dialog(sample(identifiers), 'close').dialog('open');
  });

  $('#operator').click(function() {
    var operators = [
      '++', '--', '+=', '==', '<=', '!=', '&&', '!',
      '~', '?:', '.', '->', '[]', '()', '()', ','
    ];
    cd.dialog(sample(operators), 'close').dialog('open');
  });

  $('#punctuator').click(function() {
    var punctuators = [
      '{}', '()', ',', ';', ':', '...'
    ];
    cd.dialog(sample(punctuators), 'close').dialog('open');
  });

  $('#literal').click(function() {
    var literals = [
      '42', '007', '"salmo"', '0x4b', '30ul', '3.149', "'\\t'", "'\\n'"
    ];
    cd.dialog(sample(literals), 'close').dialog('open');
  });

});

//--></script>

<div id="home-page">
  <div class='title'>ACCU BRISTOL DOES COUNTDOWN</div>
  <div class='language'>C++</div>
  <table>
    <tr>
      <td>
        <button type="button" id="keyword">KEYWORD</button>
      </td>
    </tr>

    <tr>
      <td>
        <button type="button" id="identifier">IDENTIFIER</button>
      </td>
    </tr>

    <tr>
      <td>
        <button type="button" id="operator">OPERATOR</button>
      </td>
    </tr>

    <tr>
      <td>
        <button type="button" id="punctuator">PUNCTUATOR</button>
      </td>
    </tr>

    <tr>
      <td>
        <button type="button" id="literal">LITERAL</button>
      </td>
    </tr>

  </table>

</div>
