
$darker-color: #1874CD;
$lighter-color: white;

//$black: #000;
//$text-color: darken($lighter-color, 10%);

//$red: #F00;
//$amber: #FF0;
//$green: #0F0;

//.green { color: $green; }
//.amber { color: $amber; }
//.red   { color: lighten($red, 10%); }
//.timed_out { color: darkGray; }

//$diff-added-color: lighten($green, 25%);
//$diff-deleted-color: lighten($red, 25%);
